/******************************************/


/* WEB TEMPLATE MADE BY LEONARDO TEUBAL ***/


/* BASED IN PEX.PSD                     ***/


/* 2017                                 ***/


/******************************************/

// Variables
$backcolor: #2e3b4e;
$forecolor: #EEE;
$buttoncolor: #e7526b;
// 
div #mainmenu {
  display: block;
}

div#menuToggle {
  display: none;
}

header {
  position: relative;
  height: 1000px;
  width: 100%;
  background-color: black;
  background: url('../images/headerbackground.jpg');
  background-attachment: fixed;
  background-size: cover;
  padding: 40px 20px 0px 240px;
}

.logo {
  position: absolute;
  /* Set the navbar to fixed position */
  top: 0;
  /* Position the navbar at the top of the page */
  left: 50px;
  float: left;
  padding-top: 0px;
  &.animated a img {
    height: 96px;
  }
}

#nav {
  display: flex;
  justify-content: flex-end;
}

.nav-container {
  background-color: rgba(61, 61, 61, 0.93);
  position: fixed;
  /* Set the navbar to fixed position */
  top: 0;
  /* Position the navbar at the top of the page */
  left: 0;
  width: 100%;
  /* Full width */
  height: 94px;
  z-index: 1000;
}

.nav-container {
  .menu {
    padding: 40px 20px 0 0;
  }
}

nav {
  ul li {
    display: inline-block;
    margin-right: 50px;
    a {
      color: $forecolor;
      -webkit-transition: all 0.25s ease-in;
      -o-transition: all 0.25s ease-in;
      transition: all 0.25s ease-in;
      border-bottom: 2px rgba(0, 0, 0, 0) solid;
      padding-bottom: 11px;
      text-align: top;
    }
  }
  nav ul li a:hover {
    color: #fbc1cb;
    border-bottom: 3px $forecolor solid;
    padding-bottom: 20px;
  }
  span input {
    border-radius: 30px;
    padding: 10px 40px 10px 20px;
    width: 200px;
    border: none;
    outline: none;
    background: url('../images/lupa.png');
    background-repeat: no-repeat;
    background-position: 170px 14px;
    background-color: $forecolor;
  }
}

#menuline {
  position: absolute;
  top: 94px;
  left: 0;
  width: 100%;
  border: 1px rgba(255, 255, 255, 0.03) solid;
}

.headertext {
  margin-top: 340px;
  color: $forecolor;
  width: 30%;
  text-align: right;
  h1 {
    font-size: 2rem;
    text-align: right;
  }
  button {
    font-size: 1rem;
    font-weight: bold;
    border-radius: 30px;
    padding: 18px 56px;
    border: none;
    outline: none;
    background-color: #8824cd;
    -webkit-box-shadow: inset 0 1px 0px 1px #ad54ea;
    box-shadow: inset 0 1px 0px 1px #ad54ea;
    margin-top: 60px;
    margin-left: 240px;
    -webkit-transition: all 0.25s ease-in;
    -o-transition: all 0.25s ease-in;
    transition: all 0.25s ease-in;
  }
  button:hover {
    background-color: rgba(49, 11, 75, 0.6);
    -webkit-box-shadow: inset 0 1px 0px 1px #6a2e94;
    box-shadow: inset 0 1px 0px 1px #6a2e94;
  }
  button a {
    color: $forecolor;
  }
  p {
    font-size: 1.2rem;
    margin-top: 30px;
    margin-left: 260px;
  }
}


/*** ABOUT ***/

.about .col-md-3 {
  z-index: 100;
}

.about {
  height: 450px;
  padding-top: 40px;
  background-color: $backcolor;
  font-size: 1rem;
  color: #e5e6e9;
  h2 {
    font-size: 1rem;
    font-weight: bold;
    padding-bottom: 16px;
    color: $forecolor;
  }
  h3 {
    text-align: center;
    font-size: 3rem;
    color: $forecolor;
    font-weight: 300;
    margin-bottom: 20px;
  }
}


/*** How it Works ****/

#bordercurve {
  width: 141px;
  height: 72px;
  background: url('../images/bordercurve.png');
  position: relative;
  top: -76px;
  left: -70px;
  margin: 0 auto;
  z-index: 2
}

.how {
  height: 500px;
  width: 100%;
  background-color: black;
  background: url('../images/redbackground.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-position: 0 0px;
  padding: 40px 20px 0px 240px;
  text-align: center;
  h3 {
    text-align: center;
    font-size: 3rem;
    padding-right: 240px;
    color: $forecolor;
    font-weight: 300;
    margin-bottom: 20px;
  }
  p {
    text-align: center;
    font-size: 1.4rem;
    padding-right: 240px;
    color: $forecolor;
    margin-bottom: 20px;
  }
  button {
    font-size: 1.7rem;
    color: $buttoncolor;
    font-weight: bold;
    border-radius: 30px;
    padding: 18px 96px;
    border: none;
    outline: none;
    background-color: $forecolor;
    -webkit-box-shadow: inset 0 1px 0px 1px $buttoncolor;
    box-shadow: inset 0 1px 0px 1px $buttoncolor;
    -webkit-transition: all 0.25s ease-in;
    -o-transition: all 0.25s ease-in;
    transition: all 0.25s ease-in;
    margin-right: 240px;
  }
  button:hover {
    background-color: rgba(255, 255, 255, 0.45);
    border: #b6384d 1px solid;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  button:hover a {
    color: #852233;
  }
  button a {
    color: $buttoncolor;
  }
}


/*** services ***/

.services {
  height: 374px;
  width: 100%;
  background-color: $forecolor;
  img {
    width: 40%;
    float: left;
    max-width: 500px;
  }
  .textservices h3 {
    font-size: 1.5rem;
    font-weight: bold;
  }
  .textservices {
    float: left;
    width: 50%;
    padding-left: 10%;
    padding-top: 80px;
  }
}


/*** faq ***/

.faq {
  height: 500px;
  width: 100%;
  background-color: black;
  background: url('../images/mountains.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-position: 0 0px;
  text-align: center;
  .overlay {
    position: relative;
    top: 100px;
    height: 400px;
    background-color: rgba(74, 29, 90, 0.8);
  }
  h3 {
    text-align: center;
    font-size: 3.6rem;
    color: $forecolor;
    font-weight: 300;
    margin-bottom: 20px;
    padding-top: 80px;
  }
  #textfaq {
    text-align: center;
    font-size: 2rem;
    color: #9f6db1;
    margin-bottom: 20px;
  }
  button {
    font-size: 1.7rem;
    font-weight: bold;
    border-radius: 30px;
    padding: 18px 56px;
    border: none;
    outline: none;
    background-color: #8824cd;
    -webkit-box-shadow: inset 0 1px 0px 1px #ad54ea;
    box-shadow: inset 0 1px 0px 1px #ad54ea;
    margin-top: 20px;
    -webkit-transition: all 0.25s ease-in;
    -o-transition: all 0.25s ease-in;
    transition: all 0.25s ease-in;
  }
  button:hover {
    background-color: rgba(49, 11, 75, 0.6);
    -webkit-box-shadow: inset 0 1px 0px 1px #6a2e94;
    box-shadow: inset 0 1px 0px 1px #6a2e94;
  }
  button a {
    color: $forecolor;
  }
  p {
    font-size: 1.2rem;
    margin-top: 15px;
    color: $forecolor;
  }
}


/*** photo ***/

.photo {
  height: 500px;
  width: 100%;
  background-color: black;
  background: url('../images/eating.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-position: 0 0px;
  h3 {
    position: relative;
    font-size: 3.6rem;
    color: $forecolor;
    top: 200px;
    left: 140px;
  }
  p {
    position: relative;
    font-size: 1.4rem;
    color: $forecolor;
    margin-top: 20px;
    top: 200px;
    left: 140px;
  }
  p span {
    padding-left: 10px;
  }
  button {
    position: relative;
    font-size: 1.3rem;
    border-radius: 30px;
    padding: 9px 28px;
    border: 2px $forecolor solid;
    outline: none;
    background-color: rgba(0, 0, 0, 0);
    top: 350px;
    left: 140px;
    -webkit-transition: all 0.25s ease-in;
    -o-transition: all 0.25s ease-in;
    transition: all 0.25s ease-in;
  }
  button:hover {
    background-color: $forecolor;
  }
  button a {
    color: $forecolor;
  }
  button:hover a {
    color: black;
  }
}

.vignette {
  -webkit-box-shadow: 0 0 200px rgba(114, 114, 114, 0.9) inset;
  box-shadow: 0 0 200px rgba(114, 114, 114, 0.9) inset;
}


/*** services 2***/

.services2 {
  height: 370px;
  width: 100%;
  background-color: $forecolor;
  img {
    width: 40%;
    float: right;
    max-width: 500px;
  }
  .textservices {
    float: left;
    width: 40%;
    margin-left: 140px;
    padding-top: 100px;
  }
  .textservices h3 {
    font-size: 1.5rem;
    font-weight: bold;
  }
}


/*** contact  ***/

.contact {
  height: 374px;
  width: 100%;
  background-color: $buttoncolor;
  h3 {
    font-size: 1.5rem;
    font-weight: bold;
    color: $forecolor;
    margin-left: 140px;
    padding-top: 100px;
  }
  p {
    font-size: 1.4rem;
    color: $forecolor;
    margin-left: 140px;
    padding-top: 10px;
    width: 380px;
  }
  .email a {
    font-size: 1.4rem;
    color: $forecolor;
    margin-left: 140px;
    padding-top: 10px;
    width: 380px;
  }
}


/*** footer ***/

footer {
  height: 274px;
  width: 100%;
  background-color: $backcolor;
  p {
    font-size: 1.1rem;
    color: $forecolor;
    margin-left: 140px;
    padding-top: 30px;
  }
}

#menuToggle {
  display: block;
  position: absolute;
  top: 50px;
  left: 20px;
  z-index: 1;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    /* hide this */
    z-index: 2;
    /* and place it over the hamburger */
    -webkit-touch-callout: none;
  }
  /*
 * Just a quick hamburger
 */
  span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #cdcdcd;
    border-radius: 3px;
    z-index: 1;
    -webkit-transform-origin: 4px 0px;
    -ms-transform-origin: 4px 0px;
    transform-origin: 4px 0px;
    -webkit-transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
    transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
    -o-transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), opacity 0.55s ease;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), opacity 0.55s ease;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
  }
  span:first-child {
    -webkit-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
  }
  span:nth-last-child(2) {
    -webkit-transform-origin: 0% 100%;
    -ms-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
  }
  input:checked~span {
    opacity: 1;
    -webkit-transform: rotate(45deg) translate(-2px, -1px);
    -ms-transform: rotate(45deg) translate(-2px, -1px);
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
  }
  input:checked~span:nth-last-child(3) {
    opacity: 0;
    -webkit-transform: rotate(0deg) scale(0.2, 0.2);
    -ms-transform: rotate(0deg) scale(0.2, 0.2);
    transform: rotate(0deg) scale(0.2, 0.2);
  }
  input:checked~span:nth-last-child(2) {
    -webkit-transform: rotate(-45deg) translate(0, -1px);
    -ms-transform: rotate(-45deg) translate(0, -1px);
    transform: rotate(-45deg) translate(0, -1px);
  }
  input:checked~ul {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}

#menu {
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  background: #8824cd;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  -webkit-transform-origin: 0% 0%;
  -ms-transform-origin: 0% 0%;
  transform-origin: 0% 0%;
  -webkit-transform: translate(-100%, 0);
  -ms-transform: translate(-100%, 0);
  transform: translate(-100%, 0);
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
  transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
  -o-transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
  li {
    padding: 10px 0;
    font-size: 18px;
  }
  a {
    color: $forecolor;
  }
}