/******************************************/

/* WEB TEMPLATE MADE BY LEONARDO TEUBAL ***/

/* BASED IN PEX.PSD                     ***/

/* 2017                                 ***/

/******************************************/

div #mainmenu {
  display: block;
}

div#menuToggle {
  display: none;
}

header {
  position: relative;
  height: 1000px;
  width: 100%;
  background-color: black;
  background: url(/images/headerbackground.jpg?d6f2fc7746c3b9a7d3ce09a7553f79d1);
  background-attachment: fixed;
  background-size: cover;
  padding: 40px 20px 0px 240px;
}

.logo {
  position: absolute;
  /* Set the navbar to fixed position */
  top: 0;
  /* Position the navbar at the top of the page */
  left: 50px;
  float: left;
  padding-top: 0px;
}

.logo.animated a img {
  height: 96px;
}

#nav {
  display: flex;
  justify-content: flex-end;
}

.nav-container {
  background-color: rgba(61, 61, 61, 0.93);
  position: fixed;
  /* Set the navbar to fixed position */
  top: 0;
  /* Position the navbar at the top of the page */
  left: 0;
  width: 100%;
  /* Full width */
  height: 94px;
  z-index: 1000;
}

.nav-container .menu {
  padding: 40px 20px 0 0;
}

nav ul li {
  display: inline-block;
  margin-right: 50px;
}

nav ul li a {
  color: #EEE;
  transition: all 0.25s ease-in;
  border-bottom: 2px rgba(0, 0, 0, 0) solid;
  padding-bottom: 11px;
  text-align: top;
}

nav nav ul li a:hover {
  color: #fbc1cb;
  border-bottom: 3px #EEE solid;
  padding-bottom: 20px;
}

nav span input {
  border-radius: 30px;
  padding: 10px 40px 10px 20px;
  width: 200px;
  border: none;
  outline: none;
  background: url(/images/lupa.png?1109c5d921a3d022182474c3c5a6b7c8);
  background-repeat: no-repeat;
  background-position: 170px 14px;
  background-color: #EEE;
}

#menuline {
  position: absolute;
  top: 94px;
  left: 0;
  width: 100%;
  border: 1px rgba(255, 255, 255, 0.03) solid;
}

.headertext {
  margin-top: 340px;
  color: #EEE;
  width: 30%;
  text-align: right;
}

.headertext h1 {
  font-size: 2rem;
  text-align: right;
}

.headertext button {
  font-size: 1rem;
  font-weight: bold;
  border-radius: 30px;
  padding: 18px 56px;
  border: none;
  outline: none;
  background-color: #8824cd;
  box-shadow: inset 0 1px 0px 1px #ad54ea;
  margin-top: 60px;
  margin-left: 240px;
  transition: all 0.25s ease-in;
}

.headertext button:hover {
  background-color: rgba(49, 11, 75, 0.6);
  box-shadow: inset 0 1px 0px 1px #6a2e94;
}

.headertext button a {
  color: #EEE;
}

.headertext p {
  font-size: 1.2rem;
  margin-top: 30px;
  margin-left: 260px;
}

/*** ABOUT ***/

.about .col-md-3 {
  z-index: 100;
}

.about {
  height: 450px;
  padding-top: 40px;
  background-color: #2e3b4e;
  font-size: 1rem;
  color: #e5e6e9;
}

.about h2 {
  font-size: 1rem;
  font-weight: bold;
  padding-bottom: 16px;
  color: #EEE;
}

.about h3 {
  text-align: center;
  font-size: 3rem;
  color: #EEE;
  font-weight: 300;
  margin-bottom: 20px;
}

/*** How it Works ****/

#bordercurve {
  width: 141px;
  height: 72px;
  background: url(/images/bordercurve.png?59c79cdf1e022e1b07ed371a7382daac);
  position: relative;
  top: -76px;
  left: -70px;
  margin: 0 auto;
  z-index: 2;
}

.how {
  height: 500px;
  width: 100%;
  background-color: black;
  background: url(/images/redbackground.jpg?8186acec595906b1ed00615f73e673c8);
  background-attachment: fixed;
  background-size: cover;
  background-position: 0 0px;
  padding: 40px 20px 0px 240px;
  text-align: center;
}

.how h3 {
  text-align: center;
  font-size: 3rem;
  padding-right: 240px;
  color: #EEE;
  font-weight: 300;
  margin-bottom: 20px;
}

.how p {
  text-align: center;
  font-size: 1.4rem;
  padding-right: 240px;
  color: #EEE;
  margin-bottom: 20px;
}

.how button {
  font-size: 1.7rem;
  color: #e7526b;
  font-weight: bold;
  border-radius: 30px;
  padding: 18px 96px;
  border: none;
  outline: none;
  background-color: #EEE;
  box-shadow: inset 0 1px 0px 1px #e7526b;
  transition: all 0.25s ease-in;
  margin-right: 240px;
}

.how button:hover {
  background-color: rgba(255, 255, 255, 0.45);
  border: #b6384d 1px solid;
  box-shadow: none;
}

.how button:hover a {
  color: #852233;
}

.how button a {
  color: #e7526b;
}

/*** services ***/

.services {
  height: 374px;
  width: 100%;
  background-color: #EEE;
}

.services img {
  width: 40%;
  float: left;
  max-width: 500px;
}

.services .textservices h3 {
  font-size: 1.5rem;
  font-weight: bold;
}

.services .textservices {
  float: left;
  width: 50%;
  padding-left: 10%;
  padding-top: 80px;
}

/*** faq ***/

.faq {
  height: 500px;
  width: 100%;
  background-color: black;
  background: url(/images/mountains.jpg?0ffe4f27cc03663ba7aa44bfad57900f);
  background-attachment: fixed;
  background-size: cover;
  background-position: 0 0px;
  text-align: center;
}

.faq .overlay {
  position: relative;
  top: 100px;
  height: 400px;
  background-color: rgba(74, 29, 90, 0.8);
}

.faq h3 {
  text-align: center;
  font-size: 3.6rem;
  color: #EEE;
  font-weight: 300;
  margin-bottom: 20px;
  padding-top: 80px;
}

.faq #textfaq {
  text-align: center;
  font-size: 2rem;
  color: #9f6db1;
  margin-bottom: 20px;
}

.faq button {
  font-size: 1.7rem;
  font-weight: bold;
  border-radius: 30px;
  padding: 18px 56px;
  border: none;
  outline: none;
  background-color: #8824cd;
  box-shadow: inset 0 1px 0px 1px #ad54ea;
  margin-top: 20px;
  transition: all 0.25s ease-in;
}

.faq button:hover {
  background-color: rgba(49, 11, 75, 0.6);
  box-shadow: inset 0 1px 0px 1px #6a2e94;
}

.faq button a {
  color: #EEE;
}

.faq p {
  font-size: 1.2rem;
  margin-top: 15px;
  color: #EEE;
}

/*** photo ***/

.photo {
  height: 500px;
  width: 100%;
  background-color: black;
  background: url(/images/eating.jpg?6b5769f27a494c2bd0097c4a19ab8ed6);
  background-attachment: fixed;
  background-size: cover;
  background-position: 0 0px;
}

.photo h3 {
  position: relative;
  font-size: 3.6rem;
  color: #EEE;
  top: 200px;
  left: 140px;
}

.photo p {
  position: relative;
  font-size: 1.4rem;
  color: #EEE;
  margin-top: 20px;
  top: 200px;
  left: 140px;
}

.photo p span {
  padding-left: 10px;
}

.photo button {
  position: relative;
  font-size: 1.3rem;
  border-radius: 30px;
  padding: 9px 28px;
  border: 2px #EEE solid;
  outline: none;
  background-color: rgba(0, 0, 0, 0);
  top: 350px;
  left: 140px;
  transition: all 0.25s ease-in;
}

.photo button:hover {
  background-color: #EEE;
}

.photo button a {
  color: #EEE;
}

.photo button:hover a {
  color: black;
}

.vignette {
  box-shadow: 0 0 200px rgba(114, 114, 114, 0.9) inset;
}

/*** services 2***/

.services2 {
  height: 370px;
  width: 100%;
  background-color: #EEE;
}

.services2 img {
  width: 40%;
  float: right;
  max-width: 500px;
}

.services2 .textservices {
  float: left;
  width: 40%;
  margin-left: 140px;
  padding-top: 100px;
}

.services2 .textservices h3 {
  font-size: 1.5rem;
  font-weight: bold;
}

/*** contact  ***/

.contact {
  height: 374px;
  width: 100%;
  background-color: #e7526b;
}

.contact h3 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #EEE;
  margin-left: 140px;
  padding-top: 100px;
}

.contact p {
  font-size: 1.4rem;
  color: #EEE;
  margin-left: 140px;
  padding-top: 10px;
  width: 380px;
}

.contact .email a {
  font-size: 1.4rem;
  color: #EEE;
  margin-left: 140px;
  padding-top: 10px;
  width: 380px;
}

/*** footer ***/

footer {
  height: 274px;
  width: 100%;
  background-color: #2e3b4e;
}

footer p {
  font-size: 1.1rem;
  color: #EEE;
  margin-left: 140px;
  padding-top: 30px;
}

#menuToggle {
  display: block;
  position: absolute;
  top: 50px;
  left: 20px;
  z-index: 1;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /*
  * Just a quick hamburger
  */
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  /* hide this */
  z-index: 2;
  /* and place it over the hamburger */
  -webkit-touch-callout: none;
}

#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #cdcdcd;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

#menuToggle input:checked ~ ul {
  transform: none;
}

#menu {
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  background: #8824cd;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menu li {
  padding: 10px 0;
  font-size: 18px;
}

#menu a {
  color: #EEE;
}

